*bookmarks*
*cookies.txt
*history.txt
*cache
*certificates
*history*
*cache*
*~*
*.tar.*
*.tgz
*.o
*.out
*.bak
*.bk
*.cache
*.tmp
*.temp
*.rej
*.orig
*__pycache__
*TODO*
*FAQ*

blind/blind
dmenu/dmenu
dmenu/stest
dmenu/dmenu/stest
dwm/dwm
ii/ii
quark/quark
sent/sent
slock/slock
sselp/sselp
st/st
surf/surf
swarp/swarp
tabbed/tabbed
slstatus/slstatus
sowm/sowm
