*bookmarks*
*cookies.txt
*history.txt
*cache
*certificates
*history*
*cache*
*~*
*.tar.*
*.tgz
*.o
*.out
*.bak
*.bk
*.cache
*.tmp
*.temp
*.rej
*.orig
*\:w

blind/blind
dmenu/dmenu
dmenu/stest
dmenu/dmenu/stest
dwm/dwm
quark/quark
sent/sent
slock/slock
st/st
surf/surf
tabbed/tabbed
slstatus/slstatus
