*~*
*.tar.*
*.tgz
*.o
*.out
*.bak
*.bk
*.tmp
*.temp
*.rej
*.orig
*\:w

blind/blind
dmenu/dmenu
dmenu/stest
dmenu/dmenu/stest
dwm/dwm
quark/quark
sent/sent
slock/slock
st/st
tabbed/tabbed
slstatus/slstatus
