[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Suckless Simple Terminal
Keywords=st;simple;suckless;shell;prompt;command;commandline;cmd;

TryExec=st
Exec=tabbed -n 'Simple Terminal' -c -r 2 st -w '' -t 'Simple Terminal' -g 80x24
Icon=st

Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=Simple Terminal
StartupNotify=false
Terminal=false
X-GNOME-SingleWindow=false
