[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Suckless Simple Terminal
Keywords=st;simple;suckless;shell;prompt;command;commandline;cmd;

TryExec=st
Exec=stwrapper
Icon=/home/mitch/.local/share/icons/st.png

Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=Simple Terminal
StartupNotify=false
Terminal=false
X-GNOME-SingleWindow=false
